{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        {% for apartment in apartments %}
            <a href="/apartments/{{ apartment.id }}">
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">{{ apartment.name }}</div>
                        <div class="panel-body">
                            <div>Address: {{ apartment.address }}</div>
                            <div>Available from: {{ apartment.availableFrom }}</div>
                            <div>Available till: {{ apartment.availableTill }}</div>
                        </div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div><br>
{% endblock %}
