{% extends "layout.twig" %}
{% block content %}
    <nav>
        <h1>Apartment</h1>
        <a href="/">Home</a> |
        <a href="/apartments">Back</a> |
        {% if authorized %}
            <a href="/apartments/{{ apartment.id }}/edit">Edit apartment</a>
            <br>  <br>
            <form method="post" action="/apartments/{{ apartment.id }}/delete">
                <button onclick="return confirm('Really Delete?')">Delete apartment</button>
            </form>
        {% else %}
            <a href="/users/signUp">SIGN UP</a> |
            <a href="/users">LOGIN</a>
        {% endif %}
        <br>
    </nav>
    <h3>Name: {{ apartment.name }}</h3>
    <p>Address: {{ apartment.address }}</p>
    <p>Description: {{ apartment.description }}</p>
    <p>Available from: {{ apartment.availableFrom }}</p>
    <p>Available till: {{ apartment.availableTill }}</p>
    <p>
        <small>
            Owner: {{ ownerName }}
            <br>
            Rating: {{ rating }}
        </small>
    </p>
    {% for reservation in reservations %}
        <li>
            Reserved from: {{ reservation.reserved_from }} to: {{ reservation.reserved_till }}
        </li>
    {% endfor %}
    <form method="post" action="/apartments/{{ apartment.id }}/reserve" h>
        <label for="startDate">Reserve from</label>
        <input type="date" id="startDate" name="startDate"
               min="{{ apartment.availableFrom }}"
               max="{{ apartment.availableTill }}"
               style="margin: 10px" required>
        <label for="endDate">to</label>
        <input type="date" id="endDate" name="endDate"
               min="{{ apartment.availableFrom }}"
               max="{{ apartment.availableTill }}"
               style="margin: 10px" required>
        <input type="submit" value="Reserve">
        <br>
    </form>
    {% if  rateButtons %}
        <form method="post" action="/apartments/{{ apartment.id }}/rating" h>
            <label for="rate">Rate this Apartment from 1 to 5</label>
            <input type="range" id="rate" name="rate" min="0" max="5" style="margin: 10px" required>
            <input type="submit" value="Add rating">
            <br>
        </form>
    {% endif %}

    <br><br>
    <ul>
        {% for review in reviews %}
            <li>
                <p>{{ review.review }}</p>
                Created at: {{ review.createdAt }} by: {{ review.createdBy }}
                {% if review.userId == user %}
                    <form method="post" action="/reviews/{{ review.id }}/delete">
                        <button onclick="return confirm('Really Delete?')">X</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if authorized %}
        <form method="post" action="/apartments/{{ apartment.id }}/addReview">
            <label for="review">Write review</label>
            <textarea id="review" name="review" rows="3" cols="40" required></textarea> <br><br>
            <input type="submit" value="Add review">
        </form>
    {% endif %}
    <br><br>
{% endblock %}